* {
    margin: 0%;
    padding: 0%;
}
nav{
    
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ECEDF2;
    box-shadow: 0px 6px 15px 0px rgba(64.00000000000001, 79.00000000000006, 104.00000000000004, 0.06);
   
    padding: 15px 0px 5px 0px;
}


.logo {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.menu ul li {
    display: inline-block;

}

.menu {
    display: inline-block;
    
    float: right;
    margin-top: 10px;
    margin-right: 100px;
}

.menu ul li a {
    padding: 20px;
    text-decoration: none;
    color: black;
    padding-top: 30px;

}
.btn{
    display: inline-block;
    float: right;
}

.menu button {
    font-size: 16px;
    font-weight: 500;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #2B7DDD;
    border-radius: 10px 10px 10px 10px;
    padding: 18px 32px 18px 32px;
    margin-top: -20px;
    border: none;
}

.section{
    font-size: 30px;
    margin-left: 90px;
}
.section span{
    color: blue;
}

.section p{
    display: inline-block;
    font-size: small;
}

.container{
    margin-left: 80px;
    margin-top: 30px;
}
.container img{
    margin-left: 500px;
    margin-top: -348px;

}

/* form section */

.formsection{
    display: inline-block;
    width: 100%;
    margin-top: 150px;

}

.img1{
   padding-left: 100px;
    display: inline-block;

}

.form1{
    display: inline-block;
    float: right;
    font-size: 10px;
    padding-right: 150px;
    padding-top: 25px;
  

}

.formcontent{
font-size: 20px;
padding-left: 50px;

}

.form2{
    margin:50px;
    margin-top: 50px;
}

 .mainheading{
    font-size: 42px;
    padding-left: 94px;
}

.input{
border-color: rgb(231, 235, 231);
border-radius:7px;
margin-top: 10px;
margin-bottom: 20px;
height: 35px;
width: 375px;
border-style: solid;


}

.btn1{
    padding: 15px;
    width: 45%;
    font-size: 16px;
    margin-top: 15px;
    border-style: none;
    border-radius: 10px;
    background-color: #2B7DDD;
    color: white;
}